
  
.player{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width:1442px;
    height: 80vh;
    box-sizing: border-box;
    padding: 10px;
}
.iframeContainer{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    
    
    
}

@media(max-width:1050px){
    .player{
        max-height: 80vh;
        
    }
    .iframeContainer{
        width: 100%;    
       height: 80%;
        
        box-shadow: 0px 0px 18px 1px rgb(0, 61, 205);

    }

    iframe{
        border:none;
    }

}
@media(max-width:850px){
    .player{
        max-height: 80vh;
        
    }
    .iframeContainer{
        width: 100%;    
       height: 80%;
        
        box-shadow: 0px 0px 18px 1px rgb(0, 61, 205);

    }

    iframe{
        border:none;
    }

}

@media(max-width:450px){
    .player{
        width: 100%;
        max-width: 100%;
        max-height:80vh;
    }
    .iframeContainer{
        width: 100%;    
       height: 87%;
       padding: 0;
        
        box-shadow: 0px 0px 18px 1px rgb(0, 61, 205);

    }

    iframe{
        border:none;
    }

}

@media screen and (orientation: landscape) and (max-height: 450px) {
    .player {
      width: 90%;
      /* Adicione os estilos desejados para o modal */
      transform: scale(1.1); /* Exemplo de efeito */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      max-height:100vh;
    }
  }
  
