.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100% ;
    max-width:600px;
    height: 22rem;
    max-height: 300px;
    border-radius: 15px 15px;
    position: absolute;
    top:343px;
    right: 40px;
    margin: auto;
    box-shadow: 0px 0px 9px 5px rgba(34, 113, 209, 0.7);
    border:4px solid rgba(107, 209, 255, 0.5);
    border-radius: 15px 15px;
}

.textBannerContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    width:100% ;
    max-width:646px;
    height: 22rem;
    max-height: 335px;
    border: radius 10px 10px;
    position: absolute;
    top:343px;
   
    left: 40px;
    margin: auto;
}

.video{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    width:50% ;
    
   
    
}



@media(max-width:1100px){
    .videoContainer{
       max-width: 425px;
       max-height: 300px;
       
    }

    .textBannerContainer{
       
        max-width: 425px;
        height: 95%;
    }
}

@media(max-width:900px){
    .videoContainer{
       max-width: 350px;
       max-height: 300px;
    }

    .textBannerContainer{
        max-width: 415px;
        height: 100%;
    }
}


@media(max-width:800px){
    .textBannerContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:start;
        width:100% ;   
        height: 100%;               
        border-radius: 15px 15px;
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
                border:solid 4px rgb(0, 51, 255);
                padding: 5px;

        box-sizing: border-box;
       ;
    }

    .videoContainer{
        position: absolute;
        width: 100%;
        max-height: 200px;
        top: 400px;
        left: 0px;
        right: 0px;
        border-radius: 15px 15px;
        box-sizing: border-box;
     }
}
